.dialog-pane {
    -fx-background-color: #0055A4;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-padding: 20px;
}

.dialog-pane .header-panel {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 50%;
    -fx-border-style: solid;
    -fx-alignment: CENTER;
    -fx-border-width: 10px;

}

.dialog-pane .header-panel .label .text {
    -fx-fill: red;
}

.dialog-pane .content {
    -fx-font-size: 13px;
    -fx-padding: 10px;
    -fx-font-style: italic;
}

.dialog-pane .button-bar {
    -fx-padding: 10px;
    -fx-alignment: left;
    -fx-font-size: 20px;
}

