.root {
    -fx-background-color: #0055A4;
}


.close-btn {
    -fx-color: #aaa;
    -fx-float: right;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.close-btn:hover {
    -fx-color: black;
    -fx-text-decoration: none;
    -fx-cursor: pointer;
}

/* CSS */
.button {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 5px;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 10px;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
}

@media (min-width: 768px) {
    .button-73 {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}
